# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Сборка .exe (PyInstaller)
*.spec
assets/icon_preview.png

# Виртуальные окружения
.venv/
venv/
env/

# IDE / редакторы
.idea/
.vscode/
*.swp

# ОС
Thumbs.db
.DS_Store
